<template>
  <div class="rv-catalog">
    <h1>Catalog</h1>

    <select
      :value="p_currentCategory ? p_currentCategory.getId() : undefined"
      @input="selectCurrentCategory"
    >
      <option
        v-for="category in p_categories"
        :key="category.getId()"
        :value="category.getId()"
      >
        <!-- affichage contenu de variable -->
        {{ category.getName() }}
      </option>
    </select>

    <div class="rv-catalog-search-wrap">
      <input
        class="rv-catalog-search"
        type="text"
        v-model="p_search"
        placeholder="search"
      />

      <div class="rv-catalog-mode-switch">
        <button class="rv-catalog-mode-switch-btn" @click="p_mode = 'list'">
          <span>Switch to ListView</span>
        </button>

        <button class="rv-catalog-mode-switch-btn" @click="p_mode = 'grid'">
          <span>Switch to GridView</span>
        </button>
      </div>
    </div>

    <div class="rv-catalog-products">
      <div v-if="p_mode === 'list'" class="rv-catalog-list">
        <div
          v-for="product in p_products"
          :key="product.getId()"
          class="rv-catalog-list-item"
        >
          <slot name="list-item" v-bind="{ product }">
            <rv-list-item :product="product" />
          </slot>
        </div>
      </div>

      <div v-else-if="p_mode === 'grid'" class="rv-catalog-grid">
        <div
          v-for="product in p_products"
          :key="product.getId()"
          class="rv-catalog-grid-item"
        >
          <slot name="grid-item" v-bind="{ product }">
            <rv-grid-item :product="product" />
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RvGridItem from "./RvGridItem.vue";
import RvListItem from "./RvListtem.vue";
export default {
  name: "RvCatalog",
  components: {
    RvGridItem,
    RvListItem,
  },
  props: {
    getCategories: {
      // () -> [Catgories]
      type: Function,
    },

    getProducts: {
      // (category, from, to, search = undefined) => [Products]
      type: Function,
    },

    nbColumns: {
      type: Number,
      default: 3,
    },

    nbRows: {
      type: Number,
      default: 3,
    },

    mode: {
      type: String,
      validator: (value) => ["list", "grid"].includes(value),
      default: "list",
    },
  },

  // data: () => ({
  //   p_mode: this.mode,
  //   p_currentCategory: 'Wall 1',
  //   p_from: 0,
  //   p_to: 9,
  //   p_search: "",
  // }),

  data: function () {
    return {
      p_mode: this.mode,
      p_currentCategory: undefined,
      p_from: 0,
      p_to: 0,
      p_search: "",
    };
  },

  watch: {
    p_categories: {
      handler(to) {
        this.p_currentCategory = to[0];
      },

      immediate: true,
    },

    p_nbProductShown: {
      handler(to) {
        this.p_from = 0
        this.p_to = to
      },

      immediate: true,
    },
  },

  computed: {
    p_categories() {
      return this.getCategories();
    },

    p_products() {
      if (this.p_currentCategory) {
        return this.getProducts(
          this.p_currentCategory,
          this.p_from,
          this.p_to,
          this.p_search || undefined
        );
      } else {
        return [];
      }
    },

    p_nbProductShown() {
      if (this.mode == 'grid') {
        return this.nbRows * this.nbColumns
      } else {
        return this.nbRows
      }
    }
  },

  methods: {
    selectCurrentCategory(event) {
      const id = event.target.value;

      this.p_currentCategory = this.p_categories.find(
        (category) => category.getId() == id
      );
    },
  },
};
</script>
