<template>
    <div class="rv-grid-item">
       <img class="rv-grid-item-image" :src="product.getImage()" />
       <span class="rv-grid-item-title">{{product.getTitle()}}</span>
    </div>
</template>

<script>
import { Product } from '@/utils'
export default {
    name:"RvGridItem",
    props:{
        product:{
            type: Product,
        }
    }
}
</script>