<template>
    <div class="rv-list-item">
       <img class="rv-list-item-image" :src="product.getImage()" />
        <div>
            <span class="rv-list-item-title">{{product.getTitle()}}</span>
            <span class="rv-list-item-description">{{product.getDescription()}}</span>
       </div>
    </div>
</template>

<script>
import { Product } from '@/utils'
export default {
    name:"RvListItem",
    props:{
        product:{
            type: Product,
        }
    }
}
</script>