<template>
    <div>
        <div class="pagination-row">
            <span v-for="(product, index) in new Array(20)" :key="index">
                <button class="pagination-button">{{index + 1}}</button>
            </span>
        </div>
        <slot />
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
.pagination-button {
    padding: 8px;
    margin: 2px;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
}
</style>