<template>
  <main id="app">
    <VSPagination>
    <rv-catalog
      :getCategories="getCategorie"
      :getProducts="getProducts"
      :nbColumns="3"
      :nbRows="2"
    >
      <!-- <template #list-item="{product}">
        <span style="color: red">{{ product.getTitle() }}</span>
      </template>

      <template #grid-item="{product}">
        <span style="color: blue">{{ product.getTitle() }}</span>
      </template> -->
    </rv-catalog>
    </VSPagination>
  </main>
</template>

<script>
import RvCatalog from "./components/RvCatalog.vue";
import { Category, Product } from "./utils";
import VSpagination from "./components/VSPagination.vue";

export default {
  name: "app",
  components: {
    RvCatalog,
    VSPagination,
  },
  data() {
    return {
      search: "",
      products: [
        new Product({
          id: 1,
          title: "Cuenca",
          description: "green",
          image: require("./assets/Cuenca.png"),
          categoryId: 3,
        }),
        new Product({
          id: 2,
          title: "Caceres",
          description: "white",
          image: require("./assets/Caceres.png"),
          categoryId: 3,
        }),
        new Product({
          id: 3,
          title: "Fiji",
          description: "pink",
          image: require("./assets/Fiji.png"),
          categoryId: 4,
        }),
        new Product({
          id: 4,
          title: "Magdalena",
          description: "pink",
          image: require("./assets/Magdalena.png"),
          categoryId: 2,
        }),
        new Product({
          id: 5,
          title: "Prada brown",
          description: "white",
          image: require("./assets/Prada brown.jpg"),
          categoryId: 1,
        }),
        new Product({
          id: 6,
          title: "Antique",
          description: "blue",
          image: require("./assets/Antique Onyx_R1.jpg"),
          categoryId: 1,
        }),
        new Product({
          id: 7,
          title: "Ancrage au mur à deux trous",
          description: "green",
          image: require("./assets/Ancrage au mur à deux trous  ⌀40.jpg"),
          categoryId: 5,
        }),
        new Product({
          id: 8,
          title: "Ancrage au mur à deux trous",
          description: "green",
          image: require("./assets/Ancrage au mur à deux trous  ⌀50.jpg"),
          categoryId: 5,
        }),
        new Product({
          id: 9,
          title: "Ancrage fixe avec couvercle",
          description: "green",
          image: require("./assets/Ancrage fixe  ⌀40 avec couvercle.jpg"),
          categoryId: 5,
        }),
        new Product({
          id: 10,
          title: "Ancrage fixe articulée",
          description: "green",
          image: require("./assets/Ancrage fixe articulée  ⌀50.jpg"),
          categoryId: 5,
        }),
        new Product({
          id: 11,
          title: "Boule décorative inox",
          description: "green",
          image: require("./assets/Boule décorative inox  ⌀50.jpg"),
          categoryId: 5,
        }),
        new Product({
          id: 12,
          title: "Boule décorative Inox",
          description: "green",
          image: require("./assets/Boule décorative Inox  ⌀65.jpg"),
          categoryId: 5,
        }),
        new Product({
          id: 12,
          title: "florance onyx gray1",
          description: "green",
          image: require("./assets/florance onyx gray1.jpg"),
          categoryId: 1,
        }),
        new Product({
          id: 13,
          title: "saint laurent",
          description: "green",
          image: require("./assets/saint laurent.jpg"),
          categoryId: 1,
        }),
        
      ],

      arrayOfObjects: [],
      object: {
        name: "Select a facette",
      },
    };
  },

  methods: {
    getCategorie() {
      return [
        new Category({ id: 1, name: "Wall 1" }),
        new Category({ id: 2, name: "Wall 2" }),
        new Category({ id: 3, name: "Floor" }),
        new Category({ id: 4, name: "Sofa" }),
        new Category({ id: 5, name: "Table" }),
      ];
    },

    // eslint-disable-next-line
    getProducts(category, from, to, search) {
      let products = this.products.filter(
        (product) => product.getCategoryId() === category.getId()
      );

      if (search) {
        products = products.filter((product) => {
          const _search = search.toLowerCase();
          return (
            product.data.title.toLowerCase().includes(_search) ||
            product.data.description.toLowerCase().includes(_search)
          );
        });
      }

      return products.slice(from, to);
    },
  },

  computed: {
    p_filteredProducts() {
      return this.products.filter((product) =>
        product.title.includes(this.search)
      );
    },
  },
};
</script>

<style scoped>
/* .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */
</style>
